.dialog {
  background-color: whitesmoke;
}

.dialogBody {
  padding: 20px 25px;
}

.input {
  padding: 10 15px;
  margin-bottom: 10px;
}

.error {
  border: 1px solid red;
}

.errorMessage {
  color: red;
}
